# Gradle
/build/
*/build/
.gradle/
git.gradle
local.properties
out

# Maven (examples)
target


# Bazel
bazel-bin
bazel-examples
bazel-genfiles
bazel-grpc-java
bazel-out
bazel-testlogs

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings
.gitignore
bin

# OS X
.DS_Store

# Emacs
*~
\#*\#

# others
*.jar
*.class
gae-interop-testing/gae-jdk7/build/
gae-interop-testing/gae-jdk8/build/
netty/shaded/build/
